.header {
  padding-top: 450px;
}

.searchForm {
  position: relative;
}

.searchForm__input {
  width: 500px;
  height: 70px;
  padding: 20px;
  border-radius: 20px 0 0 20px;
  background-color: hsla(0, 0%, 100%, 0.842);
  font-size: 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.searchForm__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 240px;

  padding: 10px;
  width: 80px;
  height: 70px;
  border-radius: 0 20px 20px 0;
  background-color: #5ab1e4;
  font-size: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.icon {
  font-size: 32px;
}
